@charset "utf-8";

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}
html,body {
	font:10pt "나눔고딕"; color:#666;
}
img {
	display:block;
	max-width:100%;
}
b{color:red;}

a {
	text-decoration:none;
	color:#666; display:block;
}
a:hover {
	text-decoration:underline;
	color:#004f8a;
}

#layout {
	width:1100px;
	height:1200px;
	margin:auto; position:relative;
}

/*상단*/
header {
	height:200px; display:flex;
}

/*상단로고*/
header>a {
	margin-top:50px;
	margin-right:100px;
}

/*상단 오른쪽 메뉴들*/
header>nav {
	flex:1;/*자식입장*/
	display:flex;/*부모입장*/
	align-items:flex-start;/*세로정렬 위로*/	
	margin-top:50px;
	text-align:center;/*내부모든콘텐츠 가로중앙*/
}
/*펜션소개*/
header>nav>a {flex:1;}
/*[룸미리보기]와 [커뮤니티] 둘다 해당됨*/
header div {
		flex:1; position:relative;
}

/*메인메뉴*/
.mainMenu {	
	padding:13px 0 15px 0; color:black;
	font-size:1.3rem; font-weight:bold;	
}
/*메인메뉴 마우스대면 서브메뉴 보인다*/
.mainMenu:hover +  .subMenu{
	/*display:block;   하위메뉴 선택이 안됨(사용불가)*/
}
.mainMenu:hover, .mainMenu.active {
	background:#004f8a; color:white;
	text-decoration:none;
}

/*서브메뉴*/
.subMenu {
	position:absolute; z-index:2;
	/*background:white; 
	box-shadow:0 2px 2px rgba(0,0,0, 0.5);*/
	width:100%; padding:10px;
	display:none;
}
.subMenu a {
	padding:10px;
}
.subMenu a:hover, .subMenu.active {
	background:dodgerblue; color:white;
	text-decoration:none;
}

#white {
	background:rgba(255,255,255, 0.85);
	box-shadow:0 1px 3px rgba(0,0,0, 0.5);
	height:0px; width:100%;
	position:absolute; z-index:1;
	left:0;
}



/***********************************/

/*슬라이드*/
#sliding {
	height:350px;	
	position:relative;
	overflow:hidden;
}
#sliding h1 {
	position:absolute; z-index:1;
	background:white;
	padding:50px 150px;
	border-radius:20px;
	box-shadow:0 0 5px black;
	top:27%; left:26%;
}

/*애니메이션 부분*/
#sliding div {
	display:flex; width:3300px;
	position:relative;/*좌표이동에 필수!*/
}
#sliding img {
	width:1100px; height:350px;
}

/*************************************/
/*메인*/
main {
	display:flex; position:relative;
	padding-top:80px; height:500px;	
}
/*메인요소의 모든 자식요소들*/
main>*:not(#popup) {
	/*  flex:1;1대1대1의 넓이. 즉 1/3씩의 넓이*/	
}
main>section:nth-child(1),
main>section:nth-child(2){
			margin-right:60px;
}

/*공지사항*/
#notice {
	flex:1;
}
#notice h2 {
	border-bottom:3px solid #ccc;
	padding-bottom:5px;
}
#notice ul {	
	margin-top:15px;
	list-style-position:inside;
}
#notice li {
	
}
#notice li a {
	display:inline-block;
	padding:7px;
}
#notice li span {
	float:right;
}

/*협력사 콘텐츠*/
#partner {
	flex:0.8;
}
#partner h2 {
	border-bottom:3px solid #ccc;
	padding-bottom:5px;
	margin-bottom:15px;
}
#partner div {
	display:flex;
	/*세로정렬 가운데*/	
	align-items:center;
	/*가로정렬 가운데*/
	justify-content:center;
	margin-top:30px;	
}
#partner section {
	background:gray;
	color:white;
	width:130px;
	height:130px;
	border-radius:50%;
	padding-top:12.5%;
	text-align:center;
	letter-spacing:-0.3pt;
}
#partner ul {	
	list-style-position:inside;
	margin-left:20px;
}
#partner ul a {
	display:inline-block;
}

/*아이콘형 콘텐츠*/
#icons {
	flex:0.6;
	padding-top:25px;
}
#icons h2 {
	display:none;
}
#icons div {
	/*자식요소들을 '나'의 오른쪽에 배치*/
	text-align:right;
}
#icons a {		
	display:inline-block;
	margin-top:5px;
}

/**************************/
#popup {
	/*절대값은 플렉스기능에서 제외됨*/
	position:absolute;
	background:white;
	left:20%; top:-100px;
	width:60%; padding:20px;
	border-radius:20px;
	box-shadow:0 0 10px black;
	display:none;
}
#popup button {
	float:right; margin-top:10px;
	padding:3px 6px;
}

/******************************/
footer {
	height:150px; background:lightgray;
	padding:20px;
}
footer ul {
	display:flex;	
	list-style:none;
	line-height:180%;
	margin-top:6px;
}
footer li {
	flex:1;	
}
footer a {
	display:inline-block;	
}














